@using Microsoft.AspNetCore.Identity
@using Crud_colaborativo.Models

@inject SignInManager<Funcionario> SignInManager
@inject UserManager<Funcionario> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
            <form id="logoutForm" asp-controller="Auth" asp-action="Logout" method="post">
                <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">Logout</button>
            </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" id="register" asp-controller="Auth" asp-action="Signup">Register</a>
    </li>
    <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-controller="Auth" asp-action="Login">Login</a>
    </li>
}
</ul>
