@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if (_SignInManager.IsSignedIn(User))
    {
        <p>Hello @User.Identity.Name!, Role @User.FindFirst(claim => claim.Type == System.Security.Claims.ClaimTypes.Role)?.Value</p>
    }
    
    <a asp-action="logout" asp-controller="account">
        Logout
    </a>
    <br/>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
